.card{
    width: 80%;
    float: center;
}

.h2{
    margin-left: auto;
    margin-right: auto;
}

.form-content{
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btn-danger{
    width: 20%;
    position: absolute;
    left: 0px;
}

.btn-success{
    width: 20%;
    position: absolute;
    right: 0px;
}

.dropbox{
    margin-bottom: 4rem;
    
}

.button-row{
    height: ;
}