.checkout-container {
    display: flex;
    flex-flow: row;
}

/* LEFT COLUMN */

.purchase-products-container, .purchase-payment-container {
    width: 33%;
    margin: 0px 12px;
}

.purchase-products-container .purchase-shops {
    margin: 0px 0px 20px 0px;
}

.purchase-products-container .product-info {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0px;
    padding: 7px;
    border: 2px solid #a82525;
    border-radius: 10px;
    box-shadow: -3px 5px #a82525;
}

.product-info .info-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0px 30px;
    justify-content: space-between;
}

.purchase-products-container .info-row img {
    width: 30%;
    border-radius: 8px;
}

.purchase-products-container .info-row p {
    font-weight: 300;
    font-size: 25px;
}

/* RIGTH COLUMN */

.purchase-payment-container .order-details {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
    border: 2px solid #a82525;
    border-radius: 10px;
    box-shadow: -3px 5px #a82525;
    padding: 0px 24px;
}

.order-details .purchase-price {
    padding: 0px 7%;
}

.price-per-shop p {
    font-size: 27px;
    font-weight: 400;
}

.price-per-shop li {
    font-size: 18px;
    font-weight: 300;
}

.total-price p {
    font-size: 20px;
    font-weight: 300;
}

.payment-method {
    padding: 7%;
}

.payment-method .form {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.submit-order {
    display: flex;
    justify-content: center !important;
    width: 100%;
}

.submit-order button {
    width: 50%;
}