html, body {
    height: 100%;
}

.sticky-header {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background-color: rgb(255 255 255 / 90%) !important;
}

.burger-menu {
    display: none;
    border-radius: 20%;
    border-color: rgb(197, 197, 197);
}

.left-menu {
    background-color: rgb(36, 36, 104);
    position: fixed;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100%;
    z-index: 99;
}

.left-menu.closed {
    animation-name: close;
    animation-duration: 1s;
}

.left-menu.open {
    left: 0;
    animation-name: open;
    animation-duration: 1s;
}

@keyframes open {
    0% {
        left: -100%
    }
    100% {}
}

@keyframes close {
    0% {
        left: 0;
    }
    100% {}
}

.navbar-brand img {
    height: 100px;
    width: auto;
}

.navbar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-user {
    display: flex;
    flex-flow: row;
    align-items: center;
}

/* Cart */

.cart-box {
    height: 60px;
    width: 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cart-box .cart img {
    width: 60%;
}

.cart-box .cart-products p {
    margin: 0;
    right: 2px;
    position: relative;
    bottom: 7px;
}

.cart {
    margin-top: 14px;
}

.cart-preview {
    display: none;
    background: #fff;
    border: 1px solid #ccc;
}

.cart-preview.active {
    z-index: 2;
    display: block;
    position: absolute;
    top: 103px;
    right: 30px;
    width: 380px;
    height: 420px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    overflow: hidden;
    border-radius: 10px;
}

.cart-preview.active .products {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    border-bottom: 2px solid #a82525;
}

.cart-preview.active .product {
    margin: 10px;
    border: 2px solid #a82525;
    border-radius: 10px;
    box-shadow: -3px 5px #a82525;
}

.cart-preview.active .product .info {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 20px;
}

.cart-preview.active .product .info p {
    font-weight: 300;
    font-size: 18px;
    margin: 0px !important;
}

.cart-preview.active .product img {
    width: 33%;
    flex: 4;
    margin-right: 15px;
    border-radius: 5px;
}

.cart-preview.active .product .name {
    flex: 6;
}

.cart-preview.active .product .amount {
    flex: 1;
}

.cart-preview.active .checkout {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-preview.active .checkout button {
    width: 55%;
}

/* .cart-preview.active .product .endProduct {
    border-bottom: 3px solid;
    border-radius: 5px;
} */

/* User icon */

.user-box {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.user-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 50%;
}

.login {
    margin-left: 15px;
    height: 21px;
}

.login button, .logout button {
    border: 0;
    background-color: rgba(201, 76, 76, 0);
}