html, body {
    height: 100%;
}

.sticky-header {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background-color: rgb(255 255 255 / 90%) !important;
}

.burger-menu {
    display: none;
    border-radius: 20%;
    border-color: rgb(197, 197, 197);
}

.left-menu {
    background-color: rgb(36, 36, 104);
    position: fixed;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100%;
    z-index: 99;
}

.left-menu.closed {
    animation-name: close;
    animation-duration: 1s;
}

.left-menu.open {
    left: 0;
    animation-name: open;
    animation-duration: 1s;
}

@keyframes open {
    0% {
        left: -100%
    }
    100% {}
}

@keyframes close {
    0% {
        left: 0;
    }
    100% {}
}

.navbar-brand img {
    height: 100px;
    width: auto;
}

.navbar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-user {
    display: flex;
    flex-flow: row;
    align-items: center;
}

/* Cart */

.cart-box {
    height: 60px;
    width: 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cart-box .cart img {
    width: 60%;
}

.cart-box .cart-products p {
    margin: 0;
    right: 2px;
    position: relative;
    bottom: 7px;
}

.cart {
    margin-top: 14px;
}

/* User icon */

.user-box {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.user-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 50%;
}

.login {
    margin-left: 15px;
    height: 21px;
}

.login button, .logout button {
    border: 0;
    background-color: rgba(201, 76, 76, 0);
}