.navbar-brand img{
    height: 100px;
    width: auto;
}

.navbar{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

}

.navbar-user{
    display: flex;
    flex-flow: row  ;
}

/* Cart */
.cart-box{
    height: 60px;
    width: 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cart-box .cart img{
    width: 60%;
}

.cart-box .cart-products p{
    margin: 0;
    right: 2px;
    position: relative;
    bottom: 7px;
}

.cart{
    margin-top: 14px;
}

/* User icon */
.user-box{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.user-pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile-pic{
    width:50%;  
}

.login{
    margin-left: 15px;
    height: 21px;
}

.logout button{
    border: 0;
    background-color: rgba(201, 76, 76, 0);
}
